@media (min-width: 800px) {
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
  }

  h1 {
    font-family: "Playfair Display";
    font-size: 60px;
    text-align: center;
  }

  a {
    font-family: "Roboto";
    text-decoration: none;
    font-size: 30px;
    color: black;
  }

  p {
    font-family: "Roboto";
    text-decoration: none;
    font-size: 20px;
    color: black;
  }

  /*Index*/
  .baggrundsbillede {
    position: relative;
    background: url("images/baggrundsbillede.webp") center/cover no-repeat;
    height: 800px;
    width: 100%;
    color: black;
  }

  .tekstcontainer {
    text-align: center;
  }

  h1 {
    margin: 0; /* Fjerner standardmargin fra overskriften */
  }

  /*Billeder*/
  .bredformat img {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .portraet {
    padding-right: 5px;
  }

  .hoejformat {
    padding-left: 5px;
  }

  .grid2billeder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
